[project]
name = "flask-model-diabetes"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=23.0.0",
    "joblib>=1.5.2",
    "pandas>=2.3.3",
    "scikit-learn==1.6.1",
]
